{% extends "blog/base.html" %} 

{% block content %}

{% if messages %}
<div class="alert alert-info">
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if  request.user.is_authenticated %}
  {% if request.reservation %}
  
  <a href="{% url 'reserv:reservation_list' %}"> Show  Reservation </a>
  <ul class="list-group">
    {% for obj in list_object %}
    <li class="list-group-item"> 
      <a href="{% url 'reserv:myreservation' obj.pk %}" >{{obj}}</a>
    </li>
    {% endfor %}    
  </ul>
  <a href="{% url 'reserv:finish_reservation' %}">  Finish Reservation </a>
  {% else %}
  <a href="{% url 'reserv:add_user_reservation' %}"> Add new reservation </a>
  {% endif %}

{% else %}
<div class="alert">
  Please Login before create a reservation 

  <a class="btn btn-success"  href="/admin/login/?next=/"> Login </a>
</div>
{% endif %}

{% endblock %}