{% extends 'blog/base.html' %}
{% block content %}
<body>
    <div class="jumbotron">
        <center>
            <h1>DataFlair News Aggregator</h1>
            <a href="{% url 'news:scrape' %}" class="btn btn-success">Get my morning news</a>
        </form>
        </center>
    </div>
    <div class="card-columns" style="padding: 10px; margin: 20px;">
        
        {% for object in object_list %}
        <div class="card" style="width: 18rem;border:1px black solid;">
            <img class="card-img-top" src="{{ object.image }}">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="card-body">
                        <a href="{{object.url}}">
                            <h5 class="card-title">{{object.title}}</h5>
                        </a>
                    </div>
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
