{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <center>
            <h1>네이버 뉴스 헤드라인</h1>
            <a href="{% url 'news:scrape' %}" class="btn btn-success">불러오기</a>
            </form>
        </center>
    </div>
    <div class='col-md-12'>
        <ul class="list-group">
            {% for object in object_list %}
            <li class="list-group-item">
                <a href="{{object.url}}">
                    {{object.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}